#head-t  {
  position: relative;
  left: 800px;
  margin-bottom: 2px;
  color: white;
}

#head-image {
  position: relative;
  left: 1500px;
  padding: 2px;
}

.head-icons {
  position: relative;
  left: 850px;
}

#about-t {
  border-bottom: solid 2px;
}

#about-sub {
  margin: auto;
}

#footer-content {
color: white;
}
a {
  color: white;
  text-decoration: underline;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5PX;
  background-color: rgb(236, 236, 236);
}

#submit {
  padding: 5px;
}
/* #contact-container {
  background-image: url("../src/components/Images/vista.JPG");
} */

.navtabs {
  position: sticky;
}